{% extends 'user_interface/to-do-base.html' %}

{% block content %}

    <div class='container-fluid'>
        <div class='container'>
            <div class='row mt-4'>
                <div class='col-sm-12 mt-3'>
                    <h1 class='alert alert-warning h5'>To Do List</h1>
                    <div class='table-responsive'>

                        <table class='table table-secondary table-hover '>

                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Description</th>
                                    <th>Created At</th>
                                    <th>Agree or Not</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
    
                            <tbody>
                                {% if task_list %}
    
                                    {% for ToDoIteam in task_list %}
                                        <tr>
                                            <td>{{ToDoIteam.title}}</td>
                                            <td>{{ToDoIteam.description}}</td>
                                            <td>{{ToDoIteam.created_at}}</td>
                                            <td>
                                                {% if ToDoIteam.completed %}    
                                                    <span class='btn btn-success btn-sm'>Agree</span>
                                                {% else %}
                                                    <span class='btn btn-danger btn-sm'>Not Agree</span>
                                                {% endif %}
                                            </td>
                                            <td>
                                                <a href="{% url 'to_do_update' ToDoIteam.slug %}" class='btn btn-warning btn-sm'>Update</a>
                                                <a href="{% url 'to_do_delete' ToDoIteam.slug %}" class='btn btn-danger btn-sm'>Delete</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    
                                {% else %}
    
                                    <tr>
                                        <td colspan='5' class='bg-danger text-light'>No Data Found</td>
                                    </tr>
    
                                {% endif %}
    
                            </tbody>
    
                        </table>
                    </div>

                </div>

            </div>

        </div>

    </div>

{% endblock content %}